@charset "gb2312";

.b_sub .ple {
	border: 0
}

.b_c {
	padding-top: 10px
}

.b_c div.p {
	width: 968px;
	border-width: 0 1px;
	border-color: #e4e4e4;
	border-style: solid;
	overflow: hidden
}

.b_c h4 {
	font-size: 14px;
	font-weight: 700;
	color: #360;
	background: #eff8e7;
	height: 24px;
	line-height: 25px;
	overflow: hidden;
	padding-left: 19px;
	margin: 0 auto;
	border-width: 0 1px;
	border-color: #e4e4e4;
	border-style: solid
}

.b_c h4.first {
	border-width: 0
}

.b_c ul {
	border-width: 0 0 1px;
	border-color: #f3f3f3;
	border-style: solid;
	margin: 0 auto;
	width: 978px;
	padding-left: 19px
}

.b_c ul.last {
	border-bottom-width: 0
}

.b_c li {
	float: left;
	width: 195px;
	height: 38px;
	line-height: 38px;
	overflow: hidden
}

.b_c li a {
	font-size: 16px;
	font-family: arial, ו
}

.b_c li a:visited {
	color: #408b24;
	text-decoration: none
}
.ico-hot {
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: top;
	background: url(../images/ico_hot.png) 0 0 no-repeat;
	margin: 0 0 0 4px;
	position: relative;
	top: 0;
}
pre {
	display: block;
	padding: 8.5px;
	margin: 0 0 9px;
	font-size: 12px;
	line-height: 1.42857143;
	word-break: break-all;
	word-wrap: break-word;
	color: #333;
	background-color: #f5f5f5;
	border: 1px solid #e4e4e4;
	border-radius: 0;
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}